<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.analyzer.mapper.QuestionMapper">
<!--    <select id="save" resultType="com.example.analyzer.model.question">-->
<!--        select * from stackoverflow.questions-->
<!--    </select>-->
    <insert id="insert" parameterType="com.example.analyzer.model.Question">
        INSERT INTO question (
        question_id,
        title,
        asker_id,
        tags,
        view_count,
        comment_count,
        down_vote_count,
        up_vote_count,
        favorite_count,
        score,
        answer_count,
        link,
        creation_date
        ) VALUES (
        #{questionId},
        #{title},
        #{askerId},
        #{tags},
        #{viewCount},
        #{commentCount},
        #{downVoteCount},
        #{upVoteCount},
        #{favoriteCount},
        #{score},
        #{answerCount},
        #{link},
        #{creationDate}
        )
        ON CONFLICT (question_id)
        DO UPDATE SET
        title = EXCLUDED.title,
        asker_id = EXCLUDED.asker_id,
        tags = EXCLUDED.tags,
        view_count = EXCLUDED.view_count,
        comment_count = EXCLUDED.comment_count,
        down_vote_count = EXCLUDED.down_vote_count,
        up_vote_count = EXCLUDED.up_vote_count,
        favorite_count = EXCLUDED.favorite_count,
        score = EXCLUDED.score,
        answer_count = EXCLUDED.answer_count,
        link = EXCLUDED.link,
        creation_date = EXCLUDED.creation_date
    </insert>

    <select id="selectTags" resultType="string">
        SELECT tags FROM question
    </select>

    <select id="selectTitle" resultType="string">
        select question.title from question where title like '%Error%' or title like '%Exception%'
    </select>

    <select id="selectAll" resultType="com.example.analyzer.model.Question">
        SELECT
        question_id as "questionId",
        title as "title",
        asker_id as "askerId",
        tags as "tags",
        body as "body",
        view_count as "viewCount",
        comment_count as "commentCount",
        down_vote_count as "downVoteCount",
        up_vote_count as "upVoteCount",
        favorite_count as "favoriteCount",
        score as "score",
        answer_count as "answerCount",
        link as "link",
        creation_date as "creationDate"
        FROM
        question
    </select>

    <select id="countTopicFrequency" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM question
        WHERE tags LIKE CONCAT('%', #{topicName}, '%')
    </select>

    <select id="countErrorFrequency" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM question
        WHERE title LIKE CONCAT('%', #{errorName}, '%')
    </select>
</mapper>
